@font-face {
  font-family: "baskvill";
  src: url("./fonts/BASKVILL.ttf");
}
@font-face {
  font-family: 'chosun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}